* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/*Navigation bar*/
.topnav {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topnav ul li {
    list-style: none;
    display: inline-block;
    margin: 2rem;
    position: relative;
}
.topnav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.topnav ul li a:hover {
    color: rgba(169, 161, 161, 0.75);
}

/*Home Page*/
#title { 
    text-align: center;
    font-size: 3rem;
    color: white;
    width: 100%;
    position: absolute;
    top: 35%;
}
#subtitle { 
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 0.5rem;
}
#top {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(img/headbg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-resolution: from-image;
}
button {
    color: white;
    width: 160px;
    padding: 10px;
    text-align: center;
    margin: 10px 10px;
    font-size: 1.2rem;
    background: transparent;
    border-radius: 2rem; 
    border: 2px solid white;
}
button:hover {
    background-color: rgb(228, 228, 228);
    color: black;
    transition: 1.2s; /*i like its effect*/
}

/*2nd page- What is Yakisoba*/
.rightc {
    margin-top: 8rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 5rem;
}
.rightc p {
    line-height: 1.5;
    justify-content: center;
}
.leftc {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0rem 2rem;
    margin-top: 5rem;
}
.leftc h4 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.leftc p {
    line-height: 1.5;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.bg {
    background: rgb(250, 250, 244);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*3rd page- Cooking Tips(additional)*/
#tips{
    background-color: rgb(228, 228, 228);
    margin-top: 5rem;
    padding-top: 4rem;
}
#ck {
    font-size: 1.8rem;
    margin-left: 13rem; 
    margin-right: 13rem;
}
#ckli {
    align-items: center;
    display: inline-block;
    font-size: 1.4rem;
    justify-content: left;
    margin-inline-start: 15rem;
    margin-bottom: 4rem;
}

/*4th page- Ingridients*/
.ingr {
    text-align: justify;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
}
#list {
    flex-direction: column;
    text-align: justify;
    margin-bottom: 5rem;
    font-size: 1.4rem; 
    padding-right: 4rem;
    margin-top: 4rem;
}
#list h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* line separation for aesthetics*/
#grhr {
    display: block;
    justify-content: center;
    margin-left: 13rem;
    margin-right: 13rem;
}

/*5th page- photo grid of method of cooking*/
.grid {
    margin-top: 6rem;
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 300px)); /*I hate the trial and error in this part*/
    column-gap: 1.4rem;
    row-gap: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}
.grid img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(.5);
    transition: 2s;
}
.grid img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


/*Method of cooking*/
#cookingtitle {
    margin-top: 4rem;
    display: block;
    margin-right: 13rem;
    justify-content: center;
    margin-left: 13rem;
    font-size: 1.4rem;
}
#method{
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    align-items: center;
    font-size: 1.4rem;
    justify-content: center;
    margin-left: 18rem;
}

/*last page- About website, copyright and etc.*/
#bottom {
    background-color: rgb(228, 228, 228);
    text-align: center;
    justify-content: center;
}
#bottomgrid {
    margin-top: 4rem;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 100px));
    column-gap: 1.4rem;
    row-gap: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}
#bottomgrid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(0);
    transition: 1s;
}
#bottomgrid p {
    text-decoration: underline;
    color: black;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}
#bottomgrid p:hover {
    color: rgba(133, 0, 0, 0.75);
}
#bottomgrid img:hover {
    filter: grayscale(1.5);
    transform: scale(1);
}
#bottom p {
    font-size: small;
}
#bottom p a {
    text-decoration: none;
    color: black;
}
#bottom p a:hover {
    color:rgba(133, 0, 0, 0.75)
}