* {
    margin: 0;
    padding: 0;
    background-color: #410808;
    font-family: 'Times New Roman', serif;
    box-sizing: border-box;
}
/*The heading and description*/
header {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5rem;
}
.title h4 {
    color: white;
    font-size: 1.4rem;
    text-align: center;
}
.title p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
hr {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-bottom: 0.5rem;
}

/*to place the imgs in column*/
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 1rem;
    margin-bottom: 4rem;
}
/*description*/
.des {
    color: white;
    margin-left: 7.5rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*the 1st image (Sabigung palace)*/
/*this is the main filiming site of the kdrama*/
/*love this place*/
.c1 {
    background-color: #2b0505;
    width: 400px;
    height: 450px;
    justify-content: center;
    transition: 1s;
    filter: grayscale(3);
}
.c1:hover {
    filter: grayscale(0);
}
.img1 {
    color: white;
    height: 230px;
    width: 350px;
    margin: auto;
    margin-top: 1rem;
}
.img1 h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #2b0505;
}
.img1 p {
    font-size: 1rem;
    background-color: #2b0505;
}
.img1 p small {
    background-color: #2b0505;
}

/*the 2nd image (Ondal Tourist Park)*/
.c2 {
    background-color: #2b0505;
    width: 400px;
    height: 450px;
    justify-content: center;
    transition: 1s;
    filter: invert(50%);
}
.c2:hover {
    filter: invert(0%);
}
.img2 {
    color: white;
    height: 230px;
    width: 350px;
    margin: auto;
    margin-top: 1rem;
}
.img2:hover {
    filter: invert(0%);
    background-color: #2b0505
}
.img2 h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #2b0505;
}
.img2 p {
    font-size: 1rem;
    background-color: #2b0505;
}
.img2 p small {
    background-color: #2b0505;
    margin-top: 1rem;
}

/*the 3rd image (Baekje Living Cultural Village)*/
.c3 {
    background-color: #2b0505;
    width: 400px;
    height: 450px;
    justify-content: center;
    transition: 1s;
    filter: blur(5px)
}
.c3:hover {
    filter: blur(0px);
}
.img3 {
    color: white;
    height: 230px;
    width: 350px;
    margin: auto;
    margin-top: 1rem;
}
.img3:hover {
    filter: blur(0px);
}
.img3 h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #2b0505;
}
.img3 p {
    font-size: 1rem;
    background-color: #2b0505;
}
.img3 p small {
    background-color: #2b0505;
    margin-top: 3rem;
}


.bottom {
    color: white;
    text-align: center;
}
.bottom p a {
    text-decoration: none;
    color: white;
}
.bottom p a:hover {
    color: #8b0b0b;
}
/*THE END*/
/*this was very rushed*/